.footer_section {
  height: 23rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: #f8f8f8;
}

.footer_container {
  display: flex;
  justify-content: center;
  gap: 13rem;
}
.footer_section_img {
  align-self: center;
  width: 10rem;
  height: 7.5rem;
}
.footer_section_contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 10rem;
  color: #646874;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.footer_section_more {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 10rem;
  color: #646874;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.footer_section_social {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 10rem;
  color: #646874;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem;
}

.footer_section_social div {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  color: var(--primary-color);
}
.footer_headings {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.7rem;
  letter-spacing: 0.3;
  color: var(--primary-color);
}
