.footer_section {
  background: #f8f8f8;
  padding: 3rem;
}
.footer_container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.footer_section_img {
  align-self: center;
  width: 4.6875rem;
  height: 3.625rem;
}

.footer_section_contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #646874;
  font-family: "Source Sans 3", sans-serif;
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 0.76rem;
}
.footer_section_more {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #646874;
  font-family: "Source Sans 3", sans-serif;
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 0.76rem;
}

.footer_headings {
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 600;
  line-height: 2.17525rem;
  letter-spacing: 0.029rem;
}

.footer_section_social {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.footer_section_social p {
  display: none;
}
.footer_section_social span {
  color: #828b9c;
  font-family: Roboto;
  font-size: 0.5rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 2rem;
}
.footer_section_social div {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--primary-color);
}
.footer_section_social div svg {
  width: 0.75rem;
}

@media screen and (min-width: 768px) {
  .footer_section {
    width: 100%;
    padding: 5rem;
  }
  .footer_container {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer_section_contact {
    font-size: 1rem;
  }
  .address {
    width: 22rem;
    font-family: "Source Sans 3", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
  }
  .footer_section_more {
    font-size: 1rem;
  }
  .footer_headings {
    font-size: 1.5rem;
  }
  .footer_section_social div svg {
    width: 1.5rem;
  }
  .footer_section_social {
    align-self: flex-start;
  }
  .footer_section_social p {
    display: block;
  }
  .footer_section_social span {
    display: none;
  }
}

/* .footer_section {
  height: 23rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: #f8f8f8;
}

.footer_container {
  display: flex;
  justify-content: center;
  gap: 13rem;
}
.footer_section_img {
  align-self: center;
  width: 10rem;
  height: 7.5rem;
}
.footer_section_contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 10rem;
  color: #646874;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.footer_section_more {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 10rem;
  color: #646874;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.footer_section_social {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 10rem;
  color: #646874;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem;
}

.footer_section_social div {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  color: var(--primary-color);
}
.footer_headings {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.7rem;
  letter-spacing: 0.3;
  color: var(--primary-color);
} */
